* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

h1 h2 h3 h4 h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logostudio {
  color: #2196f3;
}

.logo-down {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.page-header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-nav {
  display: flex;
  margin: 0;
  margin-left: 93px;
}

.site-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-up {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-up__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav:hover, .site-nav:focus {
  color: #2196f3;
}

.site-nav__link:active {
  color: #2196f3;
}

.site-nav__link .current {
  color: #2196f3;
}

.contacts-up__link:hover, .contacts-up__link:focus,
.contacts-up__icon:hover,
.contacts-up__icon:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-up__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-up__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link .current {
  position: relative;
}

.site-nav__link .current::after {
  content: '';
  position: absolute;
  bottom: -32px;
  margin-bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border: 2px solid;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one {
  background: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-one {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpg.format/img.jpg);
}

.section-one__hero {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.section-one__button {
  border: 1px solid transparent;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.149);
  border-radius: 4px;
}

.section-one__button:hover, .section-one__button:focus {
  background: #F5F4FA;
  color: #212121;
}

.section-two {
  padding-top: 94px;
}

.section-two__list {
  margin: 0;
  display: flex;
}

.section-two__icons:not(:last-child) {
  margin-right: 30px;
}

.section-two__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
}

.section-two__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  margin: 0;
}

.section-two__icons::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  outline: 1px solid transparent;
}

.section-two__icons:nth-child(1)::before {
  background: #F5F4FA url(../images/post/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-two__icons:nth-child(2)::before {
  background: #F5F4FA url(../images/post/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-two__icons:nth-child(3)::before {
  background: #F5F4FA url(../images/post/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-two__icons:nth-child(4)::before {
  background: #F5F4FA url(../images/post/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-three {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-three__image:not(:last-child) {
  margin-right: 30px;
}

.section-three__item {
  margin: 0;
  display: flex;
  padding-left: inherit;
}

.section-three__image {
  position: relative;
}

.section-three__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: #2f303acc;
}

.section-four {
  background: #F5F4FA;
  padding: 94px 0 94px 0;
}

.section-four__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list__card {
  text-align: center;
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  box-shadow: 0 1px 3px;
}

.team-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.team-list__card:not(:last-child) {
  margin-right: 30px;
}

.team-list__indent {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.network-list {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-around;
}

.network-list__link:hover, .network-list__link:focus {
  background: #2196f3;
  fill: #EEEEEE;
}

.network-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-five__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.company-list {
  display: flex;
  justify-content: space-around;
}

.company-list__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__icon {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__icon:focus, .company-list__icon:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.address__list {
  display: inline-block;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__street {
  display: flex;
}

.contacts-icons {
  margin-left: 70px;
}

.contacts-icons__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-icons__list {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.contacts-icons__item:not(:last-child) {
  margin-right: 10px;
}

.contacts-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icons__link:hover, .contacts-icons__link:focus {
  background: #2196f3;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-form {
  margin-left: 93px;
}

.footer-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  background: #2F303A;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: #2196f3;
}

.footer-form__button {
  display: inline-block;
  align-items: center;
  position: relative;
  padding: 8px 62px 9px 29px;
  background: #2196f3;
  color: #ffffff;
  fill: #ffffff;
  border-radius: 4px;
  margin-left: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__icon {
  position: absolute;
  bottom: 13px;
  right: 28px;
  padding-left: 0;
}

.footer-form__button:hover, .footer-form__button:focus {
  background: #F5F4FA;
  color: #212121;
  fill: #212121;
}
/*# sourceMappingURL=main.css.map */