:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3;
--header-color: #ffffff;
--footer-color: rgba(255, 255, 255, 0.6);
--footer-color-line: #2F303A;
--logo-style-font: 'Raleway', sans-serif;
--black-color: #000000;
--cards-color: #EEEEEE;
--pink-color: #F5F4FA;
--four-icons-color: #afb1b8;
--transition: cubic-bezier(0.4, 0, 0.2, 1);
--hover-focus-btn: #188CE8;
}
* {
    margin: 0; 
    padding: 0; 
}
body {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    color: var(--primary-text-color)
} 
ul {
 list-style: none;
 margin: 0;
 padding: 0;   
} 
a {
    text-decoration: none; 
}  
address {
    font-style: normal;
}
p {
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 h5 {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
/* LOGO */
.logo {
    font-family: var(--logo-style-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.logostudio{
    color: var(--accent-color);
}    
.logo-down {
    font-family: var(--logo-style-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
    display: inline-block;
    margin-bottom: 20px;
}
/* SECTION_HEADER */
.page-header {
    background: var(--header-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;  
}
.page-header .container{
    display: flex;
    align-items: center;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.site-nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.site-nav { 
  display: flex;
  margin: 0;
  margin-left: 93px;
}
.site-nav__item:not(:first-child){
    margin-left: 50px;   
}    
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.contacts-up { 
   display: flex;
   margin-left: auto;
   align-items: center;
} 
.contacts-up__item:not(:first-child){
    margin-left: 50px;
}
.site-nav :hover,
.site-nav :focus,
.contacts-up__link:hover,
.contacts-up__link:focus,
.contacts-up__icon:hover,
.contacts-up__icon:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.site-nav__link:active {
    color: var(--accent-color);
}
.site-nav__link.current {
    color: var(--accent-color);
}

.contacts-up__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-up__icon{
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ПОДЧЕРКИВАНИЕ_НАВИГАЦИИ */
.site-nav__link{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.site-nav__link.current{
    position: relative;
    
}
.site-nav__link.current::after{
    content: '';
    
    position: absolute;
    bottom: -32px;
    margin-bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border: 2px solid;
   
    border-radius: 2px; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ПОДЧЕРКИВАНИЕ_НАВИГАЦИИ */
/* SECTION_HEADER */


/* SECTION_TWO */
.section-two  {
    padding-top: 94px;
}
.section-two__list {
    margin: 0;
    display: flex;
}
.section-two__icons:not(:last-child){
    margin-right: 30px;
}
.section-two__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin: 0;
}
.section-two__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-top: 10px;
    margin: 0;
}
.section-two__icons::before{
    background: var(--pink-color);
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    outline: 1px solid transparent;
}
.section-two__icons:nth-child(1)::before{
    background: var(--pink-color) url(../images/post/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.section-two__icons:nth-child(2)::before{
    background: var(--pink-color) url(../images/post/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.section-two__icons:nth-child(3)::before{
    background: var(--pink-color) url(../images/post/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.section-two__icons:nth-child(4)::before{
    background: var(--pink-color) url(../images/post/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/* SECTION_TWO */


/* SECTION_THREE_IMAGES */
.section-three {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-three__image:not(:last-child){
    margin-right: 30px;
}
.section-three__item {
    margin: 0;
    display: flex;
    padding-left: inherit;
}
.section-three__image{
    position: relative;
}
.section-three__text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--header-color);
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
}
.section-three__title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* SECTION_THREE_IMAGES */

/* SECTION_PORTFOLIO_1 */
.section-portfolio {
    background: var(--header-color);
    padding-top: 94px;  
}
.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-list__item:not(:last-child) {
    margin-right: 8px;
}
.container .card-set {
    padding-bottom: 94px;
    padding-left: 0px;
    padding-right: 0px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.card-set__link{
    display: block;
}
.card-set__link:hover,
.card-set__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);   
}
.card-set .project {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--cards-color);
    border-block-start: none;
} 
.card-set__item {
    width: 370px; 
    margin-bottom: 30px;
    margin-right: 30px;
}
.card-set__item:nth-child(3n){
    margin-right: 0;
}
.card-set__item:nth-child(n + 7){
    margin-bottom: 0;
}  
.project__depiction {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}    
.project__value {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* SECTION_PORTFOLIO_1 */

/* SECTION_PORTFOLIO_2 */
.buttons {
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    cursor: pointer;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    height: 38px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    transition: background 250ms var(--transition), color 250ms var(--transition), box-shadow 250ms var(--transition);   
} 
.buttons:hover,
.buttons:focus {
    background: var(--accent-color);
    color: var(--header-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* SECTION_PORTFOLIO_2 */

/* SECTION_ONE */
.section-one {  
    background: var(--footer-color-line);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;     
}
.section-one{
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpg.format/Img.jpg);
}
/* hero */
.section-one__hero {
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--header-color);
    text-align: center;
    text-transform: uppercase;

}
.section-one__button { 
   border: 1px solid transparent;
   margin-top: 30px;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   cursor: pointer;
   letter-spacing: 0.06em;
   color: #ffffff;
   font-family: inherit;
   padding: 10px 32px;
   margin-left: auto;
   margin-right: auto;
   
    background-color: #2196f3;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.149);
    border-radius: 4px;   
}
.section-one__button:hover,
.section-one__button:focus {
    background: #F5F4FA;
    color: var(--title-text-color);
}
/* SECTION_ONE */

/* SPECIAL_CONTENT */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; 
}
/* SPECIAL_CONTENT */


/* SECTION_FOUR */
.section-four {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px; 
}
.section-four__title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-list__card {
    text-align: center;
    border-radius: 0 0 4px 4px;
}
.team-list {
    display: flex;
    padding-left: 0;
    margin: 0; 
}
.team-list__card {
    background: #ffffff;
    box-shadow: 0 1px 3px;
}
.team-list__card:not(:last-child){
    margin-right: 30px;
}
.team-list__indent{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-list__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.network-list{
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-around;
}
.network-list__link:hover,
.network-list__link:focus{
    background: var(--accent-color);
    fill: var(--cards-color);
}
.network-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--four-icons-color);
    background-color: var(--header-color);
    transition: background-color 250ms var(--transition); 
}
.network-list__icon{
    transition: fill 250ms var(--transition);
}
/* SECTION_FOUR */

/* SECTION_FIVE */
.section-five{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-five__title{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
}
.section-five__title{
    margin-bottom: 50px;
}
.company-list{
    display: flex;
    justify-content: space-around;
}
.company-list__svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__icon{
    display: block;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid var(--four-icons-color); 
    border-radius: 4px;
    fill: var(--four-icons-color);
    transition: border 250ms var(--transition); 
}
.company-list__icon:focus,
.company-list__icon:hover{
    border-color: var(--accent-color);
}

.company-list__icon:focus,
.company-list__icon:hover{
    color: var(--accent-color); 
    fill: var(--accent-color);
}  
/* SECTION_FIVE */


/* FOOTER_SECTION */
.address__list {
    display: inline-block;
}
.address__item:not(:last-child){
    margin-bottom: 9px;
}
.address__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--footer-color-line);
}
.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
.address__street{
    display: flex;
}
.contacts-icons{
    margin-left: 70px;
} 
.contacts-icons__title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}
.contacts-icons__list{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
.contacts-icons__item:not(:last-child){
    margin-right: 10px;
}
.contacts-icons__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--header-color);
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icons__link:focus,
.contacts-icons__link:hover{
    background: var(--accent-color);
}
.footer .container{
    display: flex;
    align-items: baseline;
}
.footer-form{
    margin-left: 93px;
}
.footer-form__title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}
.footer-form__input{
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--header-color);
    background: var(--footer-color-line);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:hover,
.footer-form__input:focus{
    border-color: var(--accent-color);
}
.footer-form__button{
  display: inline-block;
  align-items: center;
  position: relative;
  padding: 8px 62px 9px 29px;
  background: var(--accent-color);
  color: var(--header-color);
  fill: #ffffff;
  border-radius: 4px;
  margin-left: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__icon{
   position: absolute;
   bottom: 13px;
   right: 28px;
   padding-left: 0; 
   
}
.footer-form__button:hover,
.footer-form__button:focus{
    background: var(--pink-color);
    color: var(--title-text-color);
    fill: var(--title-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* FOOTER_SECTION */

/* OVERLAY_PORTFOLIO */
.overlay{
    position: relative;
    overflow: hidden; 
} 
.overlay__active{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
 .overlay__text{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--header-color);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em; 
}
.card-set__link:hover .overlay__active{
    transform: translateX(0);
}
.card-set__link:focus .overlay__active{
    transform: translateX(0);
} 
/* OVERLAY_PORTFOLIO */

/* BACKDROP & MODAL_WINDOW */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;  
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    width: 528px;
    height: 581px;

    background: var(--header-color);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.modal-text{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 12px;
}
.close{
    position: absolute;
    background-color: transparent;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms var(--transition);    
}
.close:hover,
.close:focus{
    fill: var(--accent-color);
}
.btn-close{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* BACKDROP & MODAL_WINDOW */
.modal-border{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
} 
.modal-border-title{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-bottom: 10px;
    transition: border 250ms var(--transition); 
    cursor: pointer;
}
.modal-border-title:focus,
.modal-border-title:hover{
    border-color: var(--accent-color);
}
.modal-border-title:focus + .modal-icon,
.modal-border-title:hover + .modal-icon{
    fill: var(--accent-color);
}
.modal-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 15px;
    transition: fill 250ms var(--transition)
}
.modal-side{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}
.modal-textarea{
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms var(--transition);
}
.modal-textarea:hover{
    border-color: var(--accent-color);
} 
.checkbox{
    appearance: none; 
}
.option{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.agree{
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms var(--transition);
}
.agree:hover,
.agree:focus{
    border-color: var(--accent-color);
}
.agree-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.agree-contract{
    color: var(--accent-color);
    text-decoration: underline;
}
.checkbox:checked + .agree{
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url('../images/new-post/bord-white.svg'); 
    background-size: contain;
    background-origin: border-box;
    transition: background 250ms var(--transition);
}
.checkbox:focus + .agree{
    border-color: var(--accent-color);
}
.contract{
    text-decoration: underline;
    color: var(--accent-color);
} 
.modal-btn{
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    color: var(--header-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    background: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-btn:hover,
.modal-btn:focus{
    background: var(--hover-focus-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
