.buttons{
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    cursor: pointer;
    letter-spacing: 0.03em;
    color: $title-text-color;
    height: 38px;
    top: 174px;
    background: $pink-color;
    border-radius: 4px;
    transition: background 250ms $transition, color 250ms $transition, box-shadow 250ms $transition;
}
.buttons{

    &:hover,
    &:focus{
        background: $accent-color;
        color: $header-color;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}